.mobile-nav {
    display: none;
    position: fixed;
    transform: translateX(-100%);
    transition: 2s, transform 500ms;
    z-index: 101;
    top: 0;
    left: 0;
    background: #00c9ff;
    width: 80%;
    height: 100vh;
}

.mobile-nav__list {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mobile-nav__list-item {
    margin: 5rem 0;
}

.mobile-nav__list-item a {
    text-decoration: none;
    color: black;
    font-size: 6rem;
    padding: 1rem;
    border: 8px solid black;
    border-radius: 1rem;
}

.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

footer {
    width: 100%;
    background: black;
    position: static;
    display: block;
    height: 10rem;
    padding: 0.3rem 0;
    margin-top: 3rem;
}

@media (min-width: 60rem){
    footer {
        height: 5rem;
        margin-top: 8rem;
    }
}

.footer-info ul {
    color: white;
    font-size: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 60rem){
    .footer-info ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.footer-info ul li a {
    text-decoration: none;
   color: white;
}

.footer-info ul li {
    padding: 1rem;
}
@media (min-width: 60rem){
    .footer-info ul li {
margin: 0 2rem;    }
}
